body {
    max-width: 800px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0 auto;
}

.container {
    background: #E4ECFA;
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
}

h5 {
    color: #666;
    font-size: 1em;
    margin-top: -10px;
    margin-bottom: 20px;
}

.table-container, .region-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.table-button {
    padding: 10px 15px;
    background-color: #275efe;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1em;
}

.region-button {
    padding: 10px 20px;
    background-color: #2F3545;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1em;
}

.table-button:hover, .table-button.active {
    background-color: #173898;
}

.region-button:hover, .region-button.active {
    background-color: #000000;
}

.fetch-button {
    padding: 10px 20px;
    background-color: #fff;
    color: #000000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1em;
}

.fetch-button:hover {
    background-color: #cccccc;
}

#results, #dust-results {
    margin-top: 20px;
    text-align: left;
}

/* 공통 테이블 스타일 */
table {
    font-size: 0.8em; /* 폰트 크기 줄이기 */
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #007BFF;
    color: white;
}

td {
    background-color: #f9f9f9;
}
